<html>
<head>
	<title>CdE Fotogalerie Dateiupload – {{ cwd }}</title>
</head>
<body>
	<h1>Dateiupload zur CdE Fotogalerie</h1>
    <p>Veranstaltung: {{ event }}</p>

    <h2>Aktueller Ordner: {{ cwd }}</h2>

    <h2>Hinweise zur Benutzung</h2>
    {% if cwd == "/" %}
    {# Everything here is displayed at top-level #}

    <p>Wähle deinen Namen aus der Liste aus oder gib ihn unten ein</p>

    {% elif cwd.count("/") == 1 %}
    {# Everything here is displayed at the level of sub-folders #}
    <ul>
        <li>Wähle einen vorhanden Unterordner aus oder erstelle einen Neuen.</li>
        <li>Wenn du keine Unterordner anlegen möchtest, kannst du Bilder auch direkt hier hochladen.</li>
        <li>Lade maximal 20 Bilder auf einmal hoch</li>
        <li>Du kannst mehrmals in denselben oder unterschiedliche Ordner hochladen. Du kannst frei durch die Ordnerstruktur navigieren. </li>
        <li><bold>Über diese Seite können keine Ordner oder Fotos gelöscht werden.</bold> Wende dich hierfür an das Dokuteam.</li>
        <li>Ebenso können hochgeladene Fotos über diese Seite nicht angesehen werden.</li>
    </ul>

    {% else %}
    {# Everything here is displayed when in a subfolder #}

    <ul>
        <li>Lade hier deine Bilder hoch</li>
        <li>Lade maximal 20 Bilder auf einmal hoch</li>
        <li>Du kannst mehrmals in denselben oder unterschiedliche Ordner hochladen. Du kannst frei durch die Ordnerstruktur navigieren. </li>
        <li><bold>Über diese Seite können keine Ordner oder Fotos gelöscht werden.</bold> Wende dich hierfür an das Dokuteam.</li>
        <li>Ebenso können hochgeladene Fotos über diese Seite nicht angesehen werden, du siehst nur die Dateinamen.</li>
    </ul>
    {% endif %}

    <h2>Navigiere innerhalb des Dateisystems:</h2>
    <ul>
    {% for name, facts in content %}
        {% if name == "." %}
            {% continue %}
        {% elif name == ".." or name == template_dir_name %}
            {% if cwd == "/" %}
                {% continue %}
            {% endif %}
            <li><a href="{{ url_for("view_directory", directory=parent.lstrip("/")) }}"><i>(zurück)</i></a></li>
        {% elif facts["type"] == "dir"%}
            <li><a href="{{ url_for("view_directory", directory=(cwd+"/").lstrip("/")+name) }}">{{ name }}</a>({{ facts["elements"]}} elements)</li>
        {% else %}
            <li>{{ name }}</li>
        {% endif %}
    {% endfor %}
    </ul>

    {# if cwd.count("/") > 1 #}
    {# Do not allow the creating of new subfolders in subfolders #}

        <h2>Unterordner anlegen</h2>
        <p>
        {% if cwd == "/" %}
            Das Namensschema ist 'Vorname_Nachname'. 
        {% endif %}>
        Leerzeichen und Umlaute werden automatisch ersetzt.
        </p>
        <form action="{{ url_for("create_directory") }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="parent" value="{{ cwd }}"/>
            {% if cwd == "/" %}
            Dein Name:
            {% else %}>
            Name des Unterordners:
            {% endif %}>
            <br/>
            <input type="text" name="directory_name" value=""/>
            <br/>
            <input type="submit" value="Unterordner anlegen">
        </form>

    {# endif #}

    {% if cwd != "/" %}
        <h2>Bilder in diesen Ordner hochladen</h2>
        <form action="{{ url_for("upload_files") }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="upload_directory" value="{{ cwd }}"/>
            <input type="file" name="files" multiple="true"/>
            <br/>
            <input type="submit" value="Bilder hochladen">
        </form>
        {% if errors %}
            <p>Beim Hochladen der Bilder sind folgende Fehler aufgetreten:</p>
            <ul>
                {% for filename, errorname, error in errors %}
                <li>{{ filename }}: {{ errorname }}: {{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
</body>
</html>
